name: CI

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  ci:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        task: [biome, build, prettier]
      fail-fast: false
    steps:
      - name: Checkout the repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Setup tools
        uses: jdx/mise-action@c37c93293d6b742fc901e1406b8f764f6fb19dac # v2.4.4
      - name: Install dependencies
        run: bun install --frozen-lockfile
      - name: Run Biome
        if: matrix.task == 'biome'
        run: bun run biome ci .
      - name: Build
        if: matrix.task == 'build'
        run: bun run build
      - name: Run Prettier
        if: matrix.task == 'prettier'
        run: bun run prettier:format
